<div class="row">
	<div class="tag col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-3">
						<%= image_tag "#{device_url(@device)}.svg", size: "100", class: "img-thumbnail"%>
					</div>
					<div class="col-xs-9">
						<p>
							<strong><%= @device.code %></strong>
						</p>
						<p>
							<small><%= @device.name %></small>
						</p>
						<p>
							<small><%= "#{device_url(@device)}" %></small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
